
/* 粗體 */
.special{
    font-weight: bold;
  }
/* 錨點 */
.anchor { padding-top: 80px; }

p, div
{
    font-size: large;
}

/* top btn功能 */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
/* 程式碼顯示窗格 */
.code, code 
{
    background: rgba(135, 131, 120, 0.5);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    tab-size: 2;
}

code 
{
    color: #eb5757;
}

.code 
{
    padding: 1.5em 1em;
}

.code-wrap 
{
    white-space: pre-wrap;
    word-break: break-all;
}

.code > code 
{
    background: none;
    padding: 0;
    font-size: 100%;
    color: inherit;
}